.delivery img {
    width: 30%;
}

.example-full-width {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .icon-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

  .icon-inner svg {
    width: 20px;
  }