<h2 mat-dialog-title class="text-center">Where will you receive your Burger?</h2>
<mat-dialog-content class="delivery mat-typography text-center">
    <img src="https://media.giphy.com/media/cmCHuk53AiTmOwBXlw/giphy.gif" alt="deleivery"/>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Your Name </mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Phone </mat-label>
           <input matInput>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>  
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button class="w-100" color="accent">Order</button>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
