
<header>
    <div class="logo">
        <img src="assets/images/logo.svg" alt="logo">
    </div>
    <div class="right_area">
        <!-- <a> Contact </a> -->
        <!-- <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="menu">Language</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Arabic</button>
            </mat-menu>
        </mat-toolbar> -->
        <button mat-raised-button color="accent">  <i class='bx bx-box'></i> Order on Delivery </button>
    </div>
</header>