
<header>
    <div class="logo">
        <img src="assets/images/logo.svg" alt="logo">
    </div>
    <div class="right_area">
        <!-- <a> Contact </a> -->
        <!-- <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="menu">Language</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Arabic</button>
            </mat-menu>
        </mat-toolbar> -->
        <button mat-raised-button color="accent" (click)="openDialog()">  <i class='bx bx-box'></i> Order on Delivery </button>
        <!-- <nav>
            <input id="open" type="checkbox">
            <ul>
                <li><span><label for="open" aria-label="Close"><span class="sr">&times;</span></label></span></li>
                <li><span><a href="#">Our Menu</a></span></li>
                <li><span><a href="#">Locate</a></span></li>
                <li><span><a href="#">Deals</a></span></li>
                <li><span><a href="#">App</a></span></li>
                <li><span><a href="#">Trending</a></span></li>
            </ul>
        </nav> -->
    </div>
</header>