<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3 col-6">
                <h2> Our Delivery </h2>
                <div class="deliver">
                    <ul>
                        <li>
                            <a href=""> <i class='bx bx-cycling'></i> Lorem Ipsum </a>
                        </li>
                        <li>
                            <a href=""> <i class='bx bx-cycling'></i> Lorem Ipsum  </a>
                        </li>
                        <li>
                            <a href=""> <i class='bx bx-cycling'></i> Lorem Ipsum  </a>
                        </li>
                        <li>
                            <a href=""> <i class='bx bx-cycling'></i> Lorem Ipsum  </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 col-6">
                <h2> FAQ </h2>
                <details>
                    <summary>Epcot Center</summary>
                    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                  </details>
                  <details>
                    <summary>Epcot Center</summary>
                    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                  </details>
                  <details>
                    <summary>Epcot Center</summary>
                    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                  </details>
                  <details>
                    <summary>Epcot Center</summary>
                    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                  </details>
            </div>
        </div>
    </div>
</footer>
