.tp-card {
    max-width: 260px;
 }

 img {
     width: 50%;
 }

.mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.mini_btn button:first-child {
    margin-right: 1rem;
}

.card_img {
    min-height: 94px;
    text-align: center;
    margin-top: 1.5rem;
    /* overflow: hidden; */
}

