.item img {
    position: relative;
}

.text_area {
    height: 100%;
    position: absolute;
    bottom: 20%;
    top: 0;
    width: 35%;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem 1rem;
}

.item h1 {
    font-family: 'museomodernoregular' !important;
    font-size: 3.5em;
    line-height: 1.5em;
    color: #ffffff;
}

.book_btn {
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    font-family: 'museomodernoregular' !important;
    margin-top: 1rem;
}
